/*jumbotron.jumbotron-fluid {*/
/*background:url("images/home-office.jpg");*/
/*}*/

body, html {
	margin: 0;
	padding: 0;
}

.backgroundimg {
	background-image:url("../images/office-pink.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

/*.headshot-img {*/
	/*height: 150px;*/
	/*width: 150px;*/
	/*float: left;*/
	/*margin: 10px;*/
/*}*/