/*jumbotron.jumbotron-fluid {*/
/*background:url("images/home-office.jpg");*/
/*}*/

body, html {
	margin: 0;
	padding: 0;
}

.backgroundimg {
	background-image:url("../images/office-pink.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

/*#contact-section {*/
	/*text-align: center;*/
/*}*/

/*.headshot-img {*/
	/*height: 150px;*/
	/*width: 150px;*/
	/*float: left;*/
	/*margin: 10px;*/
/*}*/

/*make recaptcha mobile responsive*/
/*@media screen and (max-width: 575px){*/
	/*.g-recaptcha {*/
		/*transform:scale(0.75);*/
		/*-webkit-transform:scale(0.75);*/
		/*transform-origin:0 0;*/
		/*-webkit-transform-origin:0 0;*/
	/*}*/
/*}*/